  <%= token_tag nil %>
  <p>
    <input type="text" name="bear[name]" value="<%=@bear.name%>">
  </p>
  <p>
    <input type="text" name="bear[description]" value="<%=@bear.description%>">
  </p>
  <p>
  <input type="submit" name="submit" value="Click!">
  </p> 